/* global css */

*{
  font-size: 30px;
  font-weight: 500;
}

/* external css */

h3{
  color: blue;
}

/* element selector */
h4{
  color:palevioletred;
}

/* class */

.myclass{
  color: darkorange;
}

/* id */
#myid{
  color:mediumpurple;
}

/* group */
h5,p{
  color:maroon
}